@use "../abstract/variable" as var ;

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@400;600;700;800&display=swap');

*{
    margin: 0;padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var.$font-primary;
    scroll-behavior: smooth;
}
