
.form_control{
 padding: 0.8rem 1.5rem;
 background-color: rgba(240, 240, 240, 0.671);
 border: none;
 border-radius: 5px;
 width: 100%;
 margin-bottom: 1.5rem;
}
.btn-primary{
    background-color: blue;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1.5rem;
}

.resize-x{
    resize: none;
}